<Input @value={{@model.nom}} placeholder="Entrez votre nom" />
<Input @value={{@model.prenom}} placeholder="Entrez votre prenom" />
<Input @value={{@model.email}} placeholder="Entrez votre email" type='email' />
<button {{action "save" @model}}>Enregistrer</button>