{{page-title "Sections"}}
<h3 class="ui block header">
  Menu
  <button class="ui yellow button">EmployeeInfo</button>
</h3>
<div>
  <div>
    <h2>Store</h2>
    <button class="ui secondary button">Retour au tableau de bord</button>
  </div>
  <fieldset>
    <legend>Gestion des sections</legend>
    <div>
      <button class="ui green button">Nouvelle section...</button>
      <button class="ui green button">Nouveau produit...</button>
    </div>
    <div class="ui icon input">
      Section (nb section) <input type="text" placeholder="Filtre"/>
      <i class="inverted circular search link icon"></i>
    </div>
    <div>

    </div>
  </fieldset>
</div>

{{outlet}}